In [90]:
import pandas as pd
import numpy as np

In [91]:
#data_df = pd.read_csv("data/data.csv")
data_2014 = pd.read_csv("data/data_2014.csv")
indicator_df = pd.read_csv("data/indicators.csv")
region_df = pd.read_csv("data/regions.csv")
crime_df = pd.read_csv("data/crime.csv")

C:\Users\jaiti\AppData\Local\Temp\ipykernel_26612\704784300.py:5: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_df = pd.read_csv("data/crime.csv")

In [92]:
merged_df = pd.merge(data_2014, region_df, on="region_id", how="left")

In [93]:
merged_df.groupby("region_id").agg("count")

           indicator_id  date  value  region_type  region
region_id
3                    48    48     48           48      48
4                    52    52     52           52      52
6                    51    51     51           51      51
8                    49    49     49           49      49
9                    48    48     48           48      48
...                 ...   ...    ...          ...     ...
827645               11    11     11           11      11
845158               24    24     24           24      24
845160               24    24     24           24      24
845164               24    24     24           24      24
845167               23    23     23           23      23

[41361 rows x 5 columns]

In [94]:
check_merge = region_df[region_df["region_id"].isin(data_2014["region_id"])]

In [95]:
check_merge["region_type"].unique()

array(['metro', 'state', 'zip', 'city', 'county', 'neigh'], dtype=object)

In [96]:
check_merge

,region_id,region_type,region
1,394415,metro,"Bridgeport, CT"
2,394653,metro,"Greenville, SC"
3,394312,metro,"Albuquerque, NM"
4,394357,metro,"Bakersfield, CA"
5,394308,metro,"Albany, NY"
...,...,...,...
89298,418163,zip,"89158;NV;Las Vegas-Henderson-Paradise, NV;Las ..."
89299,92436,zip,"78402;TX;Corpus Christi, TX;Corpus Christi;Nue..."
89300,59107,zip,"3293;NH;Lebanon, NH-VT;Woodstock;Grafton County"
89302,58463,zip,"1718;MA;Boston-Cambridge-Newton, MA-NH;Acton;M..."
89303,75653,zip,40363;KY;nan;nan;Owen County

In [97]:
check_merge_zip = check_merge[check_merge["region_type"] == "zip"].copy()
check_merge_metro = check_merge[check_merge["region_type"] == "metro"].copy()
check_merge_state = check_merge[check_merge["region_type"] == "state"].copy()
check_merge_neigh = check_merge[check_merge["region_type"] == "neigh"].copy()
check_merge_city = check_merge[check_merge["region_type"] == "city"].copy()
check_merge_county = check_merge[check_merge["region_type"] == "county"].copy()

## Splice regions to only get the city and state from them

In [98]:
check_merge_zip.loc[:, "city"] = check_merge_zip["region"].str.split(";").str[3]
check_merge_zip.loc[:, "state"] = check_merge_zip["region"].str.split(";").str[1]

In [99]:
check_merge_zip

,region_id,region_type,region,city,state
75,61616,zip,"10002;NY;New York-Newark-Jersey City, NY-NJ-PA...",New York,NY
421,97852,zip,"94806;CA;San Francisco-Oakland-Berkeley, CA;Ri...",Richmond,CA
548,58011,zip,00612; MI; Crawford County; Frederic,Frederic,MI
567,95318,zip,"87124;NM;Albuquerque, NM;Rio Rancho;Sandoval C...",Rio Rancho,NM
3372,58129,zip,00907; AR; Forrest City; Saint Francis County;...,Saint Francis County,AR
...,...,...,...,...,...
89298,418163,zip,"89158;NV;Las Vegas-Henderson-Paradise, NV;Las ...",Las Vegas,NV
89299,92436,zip,"78402;TX;Corpus Christi, TX;Corpus Christi;Nue...",Corpus Christi,TX
89300,59107,zip,"3293;NH;Lebanon, NH-VT;Woodstock;Grafton County",Woodstock,NH
89302,58463,zip,"1718;MA;Boston-Cambridge-Newton, MA-NH;Acton;M...",Acton,MA
89303,75653,zip,40363;KY;nan;nan;Owen County,nan,KY

In [100]:
check_merge_metro

       region_id region_type              region
1         394415       metro      Bridgeport, CT
2         394653       metro      Greenville, SC
3         394312       metro     Albuquerque, NM
4         394357       metro     Bakersfield, CA
5         394308       metro          Albany, NY
...          ...         ...                 ...
89082     753924       metro  Urban Honolulu, HI
89083     395169       metro           Tulsa, OK
89084     394619       metro          Fresno, CA
89085     395238       metro       Worcester, MA
89086     394938       metro           Omaha, NE

[682 rows x 3 columns]

In [101]:
check_merge_metro = check_merge_metro.rename(columns={"region": 'city_state'})
check_merge_metro

       region_id region_type          city_state
1         394415       metro      Bridgeport, CT
2         394653       metro      Greenville, SC
3         394312       metro     Albuquerque, NM
4         394357       metro     Bakersfield, CA
5         394308       metro          Albany, NY
...          ...         ...                 ...
89082     753924       metro  Urban Honolulu, HI
89083     395169       metro           Tulsa, OK
89084     394619       metro          Fresno, CA
89085     395238       metro       Worcester, MA
89086     394938       metro           Omaha, NE

[682 rows x 3 columns]

In [102]:
check_merge_neigh.loc[:, "city"] = check_merge_neigh["region"].str.split(";").str[4]
check_merge_neigh.loc[:, "state"] = check_merge_neigh["region"].str.split(";").str[1]
check_merge_neigh

,region_id,region_type,region,city,state
958,118208,neigh,South Los Angeles;CA;Los Angeles-Long Beach-An...,Los Angeles County,CA
1768,403117,neigh,"Little Village;IL;Chicago-Naperville-Elgin, IL...",Cook County,IL
2086,275620,neigh,"Sunnyside;NY;New York-Newark-Jersey City, NY-N...",Queens County,NY
2088,764286,neigh,"Valley Ranch;TX;Dallas-Fort Worth-Arlington, T...",Dallas County,TX
2089,259606,neigh,Mountain View;CA;Los Angeles-Long Beach-Anahei...,Los Angeles County,CA
...,...,...,...,...,...
88516,807945,neigh,"Dellwood Park;TX;Laredo, TX;Laredo;Webb County",Webb County,TX
88517,806920,neigh,Lake Mathews;CA;Riverside-San Bernardino-Ontar...,Riverside County,CA
88518,250248,neigh,"Central Park;OK;Tulsa, OK;Tulsa;Tulsa County",Tulsa County,OK
88519,416777,neigh,Archwood Acres;TN;Nashville-Davidson--Murfrees...,Davidson County,TN
88520,809280,neigh,"Laguna Park;NV;Las Vegas-Henderson-Paradise, N...",Clark County,NV

In [103]:
check_merge_city.loc[:, "city"] = check_merge_city["region"].str.split(";").str[0]
check_merge_city.loc[:, "state"] = check_merge_city["region"].str.split(";").str[1]
check_merge_city

,region_id,region_type,region,city,state
344,13437,city,Randolph Township; NJ; New York-Newark-Jersey ...,Randolph Township,NJ
443,397836,city,Middletown Township; NJ; New York-Newark-Jerse...,Middletown Township,NJ
1026,53486,city,"Natchitoches;LA;Natchitoches, LA;Natchitoches ...",Natchitoches,LA
1061,396727,city,Greater Upper Marlboro; MD; Washington-Arlingt...,Greater Upper Marlboro,MD
1064,47977,city,The Woodlands; TX; Houston-The Woodlands-Sugar...,The Woodlands,TX
...,...,...,...,...,...
88996,34596,city,"Vincent;IA;Fort Dodge, IA;Webster County",Vincent,IA
88997,173791,city,"Mackenzie;MO;St. Louis, MO-IL;Saint Louis County",Mackenzie,MO
88998,4292,city,"Dalzell;IL;Ottawa, IL;Bureau County",Dalzell,IL
89002,22347,city,New Pine Creek;OR;nan;Lake County,New Pine Creek,OR
89003,37109,city,"Altona;IN;Auburn, IN;De Kalb County",Altona,IN

In [104]:
check_merge_county.loc[:, "city"] = check_merge_county["region"].str.split(";").str[0]
check_merge_county.loc[:, "state"] = check_merge_county["region"].str.split(";").str[1]
check_merge_county

,region_id,region_type,region,city,state
880,2841,county,San Diego County;CA;San Diego-Chula Vista-Carl...,San Diego County,CA
915,1286,county,Orange County;CA;Los Angeles-Long Beach-Anahei...,Orange County,CA
916,445,county,"Clark County;NV;Las Vegas-Henderson-Paradise, NV",Clark County,NV
918,2049,county,"Tarrant County;TX;Dallas-Fort Worth-Arlington, TX",Tarrant County,TX
932,386,county,"Bexar County;TX;San Antonio-New Braunfels, TX",Bexar County,TX
...,...,...,...,...,...
82375,2400,county,Manistee County;MI;nan,Manistee County,MI
82494,2353,county,"Humboldt County;NV;Winnemucca, NV",Humboldt County,NV
82799,1077,county,Hardin County;IA;nan,Hardin County,IA
82951,263,county,Otoe County;NE;nan,Otoe County,NE
83099,131,county,Clay County;TN;nan,Clay County,TN

In [105]:
check_merge_combine = pd.concat([check_merge_zip, check_merge_metro, check_merge_neigh, check_merge_city, check_merge_county], ignore_index=True)
check_merge_combine

,region_id,region_type,region,city,state,city_state
0,61616,zip,"10002;NY;New York-Newark-Jersey City, NY-NJ-PA...",New York,NY,NaN
1,97852,zip,"94806;CA;San Francisco-Oakland-Berkeley, CA;Ri...",Richmond,CA,NaN
2,58011,zip,00612; MI; Crawford County; Frederic,Frederic,MI,NaN
3,95318,zip,"87124;NM;Albuquerque, NM;Rio Rancho;Sandoval C...",Rio Rancho,NM,NaN
4,58129,zip,00907; AR; Forrest City; Saint Francis County;...,Saint Francis County,AR,NaN
...,...,...,...,...,...,...
41305,2400,county,Manistee County;MI;nan,Manistee County,MI,NaN
41306,2353,county,"Humboldt County;NV;Winnemucca, NV",Humboldt County,NV,NaN
41307,1077,county,Hardin County;IA;nan,Hardin County,IA,NaN
41308,263,county,Otoe County;NE;nan,Otoe County,NE,NaN
41309,131,county,Clay County;TN;nan,Clay County,TN,NaN

In [106]:
check_merge_combine[check_merge_combine["region_type"] == "metro"]

      region_id region_type region city state          city_state
7742     394415       metro    NaN  NaN   NaN      Bridgeport, CT
7743     394653       metro    NaN  NaN   NaN      Greenville, SC
7744     394312       metro    NaN  NaN   NaN     Albuquerque, NM
7745     394357       metro    NaN  NaN   NaN     Bakersfield, CA
7746     394308       metro    NaN  NaN   NaN          Albany, NY
...         ...         ...    ...  ...   ...                 ...
8419     753924       metro    NaN  NaN   NaN  Urban Honolulu, HI
8420     395169       metro    NaN  NaN   NaN           Tulsa, OK
8421     394619       metro    NaN  NaN   NaN          Fresno, CA
8422     395238       metro    NaN  NaN   NaN       Worcester, MA
8423     394938       metro    NaN  NaN   NaN           Omaha, NE

[682 rows x 6 columns]

In [107]:
merged_df_clean = pd.merge(data_2014, check_merge_combine.drop(["region_type","region"], axis=1), on="region_id", how="inner")
merged_df_clean["date"] = pd.to_datetime(merged_df_clean["date"])
merged_df_clean

,indicator_id,region_id,date,value,city,state,city_state
0,ZATT,1146,2014-03-31,288076.00000,Lehigh County,PA,NaN
1,ZATT,1146,2014-04-30,289159.00000,Lehigh County,PA,NaN
2,ZATT,2644,2014-01-31,219931.00000,Calcasieu Parish,LA,NaN
3,ZATT,2644,2014-02-28,222770.00000,Calcasieu Parish,LA,NaN
4,ZATT,2644,2014-03-31,226839.00000,Calcasieu Parish,LA,NaN
...,...,...,...,...,...,...,...
1046041,Z2BR,274712,2014-08-31,17022.69551,Mahoning County,OH,NaN
1046042,Z2BR,251073,2014-08-31,103320.82980,Pierce County,WA,NaN
1046043,Z2BR,276265,2014-08-31,95801.15871,Sedgwick County,KS,NaN
1046044,Z2BR,276407,2014-08-31,96371.50075,San Bernardino County,CA,NaN
1046045,Z2BR,275863,2014-08-31,281446.53080,Franklin County,OH,NaN

In [108]:
states = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY"
}

In [109]:
crime_df

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Unknown,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638449,638450,WY01500,Park County,Sheriff,Park,Wyoming,2014,January,1,Murder or Manslaughter,...,Hispanic,Unknown,0,Unknown,Unknown,Unknown,Handgun,0,0,FBI
638450,638451,WY01700,Sheridan County,Sheriff,Sheridan,Wyoming,2014,June,1,Murder or Manslaughter,...,Unknown,Male,57,White,Unknown,Acquaintance,Handgun,0,0,FBI
638451,638452,WY01701,Sheridan,Municipal Police,Sheridan,Wyoming,2014,September,1,Murder or Manslaughter,...,Unknown,Female,22,Asian/Pacific Islander,Unknown,Daughter,Suffocation,0,0,FBI
638452,638453,WY01800,Sublette County,Sheriff,Sublette,Wyoming,2014,December,1,Murder or Manslaughter,...,Not Hispanic,Male,31,White,Not Hispanic,Stranger,Knife,0,1,FBI
638453,638454,WY01902,Rock Springs,Municipal Police,Sweetwater,Wyoming,2014,September,1,Murder or Manslaughter,...,Not Hispanic,Female,24,White,Not Hispanic,Daughter,Blunt Object,0,1,FBI

In [110]:
merged_df_clean["city_state"] = merged_df_clean["city"] + ", " + merged_df_clean["state"]
final_zillow_df = pd.merge(merged_df_clean, indicator_df, on="indicator_id", how="inner")
# old crime dataset stuff that is no longer needed
#crime_df["state_abbrev"] = crime_df["State"].map(states)
#crime_df["city_state"] = crime_df["City"] + ", " + crime_df["state_abbrev"]
#crime_df_max = crime_df.groupby(["city_state", "Year", "Month"])["Incident"].max().reset_index()
#crime_df_sum = crime_df_max.groupby("city_state")["Incident"].sum()
#final_df = pd.merge(final_zilow_df, crime_df_sum.rename("total_incidents"), on="city_state", how="inner")

In [111]:
final_zillow_df["year_city_state"] = final_zillow_df["date"].dt.year.astype(str) + ": " + final_zillow_df["city_state"]
final_zillow_df

,indicator_id,region_id,date,value,city,state,city_state,indicator,category,year_city_state
0,ZATT,1146,2014-03-31,288076.00000,Lehigh County,PA,"Lehigh County, PA",ZHVI All Homes- Top Tier Time Series ($),Home values,"2014: Lehigh County, PA"
1,ZATT,1146,2014-04-30,289159.00000,Lehigh County,PA,"Lehigh County, PA",ZHVI All Homes- Top Tier Time Series ($),Home values,"2014: Lehigh County, PA"
2,ZATT,2644,2014-01-31,219931.00000,Calcasieu Parish,LA,"Calcasieu Parish, LA",ZHVI All Homes- Top Tier Time Series ($),Home values,"2014: Calcasieu Parish, LA"
3,ZATT,2644,2014-02-28,222770.00000,Calcasieu Parish,LA,"Calcasieu Parish, LA",ZHVI All Homes- Top Tier Time Series ($),Home values,"2014: Calcasieu Parish, LA"
4,ZATT,2644,2014-03-31,226839.00000,Calcasieu Parish,LA,"Calcasieu Parish, LA",ZHVI All Homes- Top Tier Time Series ($),Home values,"2014: Calcasieu Parish, LA"
...,...,...,...,...,...,...,...,...,...,...
1046041,Z2BR,274712,2014-08-31,17022.69551,Mahoning County,OH,"Mahoning County, OH",ZHVI 2-Bedroom Time Series ($),Home values,"2014: Mahoning County, OH"
1046042,Z2BR,251073,2014-08-31,103320.82980,Pierce County,WA,"Pierce County, WA",ZHVI 2-Bedroom Time Series ($),Home values,"2014: Pierce County, WA"
1046043,Z2BR,276265,2014-08-31,95801.15871,Sedgwick County,KS,"Sedgwick County, KS",ZHVI 2-Bedroom Time Series ($),Home values,"2014: Sedgwick County, KS"
1046044,Z2BR,276407,2014-08-31,96371.50075,San Bernardino County,CA,"San Bernardino County, CA",ZHVI 2-Bedroom Time Series ($),Home values,"2014: San Bernardino County, CA"
1046045,Z2BR,275863,2014-08-31,281446.53080,Franklin County,OH,"Franklin County, OH",ZHVI 2-Bedroom Time Series ($),Home values,"2014: Franklin County, OH"

In [112]:
# no longer needed since we found a better dataset
# final_df.to_csv("data/final_df.csv", index=False)

In [113]:
better_crime_df = pd.read_csv("data/better_crime.csv")

C:\Users\jaiti\AppData\Local\Temp\ipykernel_26612\1849724017.py:1: DtypeWarning: Columns (19,20,25,50) have mixed types. Specify dtype option on import or set low_memory=False.
  better_crime_df = pd.read_csv("data/better_crime.csv")

In [126]:
better_crime_df.head()
better_crime_df.address_city.unique()

array(['anchorage', 'fairbanks', 'juneau', ..., 'wamsutter', 'worland',
       'fort washakie'], dtype=object)

In [128]:
better_crime_df = better_crime_df[better_crime_df["address_city"].str.len() > 2]
better_crime_df["address_city"].value_counts()

address_city
harrisburg      7697
indianapolis    5932
columbia        5875
albany          4517
tallahassee     3943
                ...
goodfield         13
severance         13
mead              13
keenesburg        13
linville          13
Name: count, Length: 9034, dtype: int64

In [131]:
better_crime_df[better_crime_df.address_city == "harrisburg"]

,ori,ori9,agency_name,state,state_abb,year,number_of_months_missing,number_of_months_reported,last_month_reported,fips_state_code,...,unfounded_motor_vehicle_theft_total,unfounded_motor_vehicle_theft_car,unfounded_motor_vehicle_theft_truck,unfounded_motor_vehicle_theft_other,unfounded_all_crimes,unfounded_theft_under50_dollar,unfounded_assault_aggravated,unfounded_index_violent,unfounded_index_property,unfounded_index_total
36856,AR05600,AR0560000,poinsett,arkansas,AR,2024,NaN,12,december,5.0,...,0,0,0,0,0,0,0,0,0,0
36857,AR05600,AR0560000,poinsett,arkansas,AR,2023,NaN,12,december,5.0,...,0,0,0,0,0,0,0,0,0,0
36858,AR05600,AR0560000,poinsett,arkansas,AR,2022,NaN,12,december,5.0,...,0,0,0,0,0,0,0,0,0,0
36859,AR05600,AR0560000,poinsett,arkansas,AR,2021,NaN,12,december,5.0,...,0,0,0,0,0,0,0,0,0,0
36860,AR05600,AR0560000,poinsett,arkansas,AR,2020,NaN,12,december,5.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943301,SD04103,SD0410300,harrisburg,south dakota,SD,1997,12.0,0,no months reported,46.0,...,0,0,0,0,0,0,0,0,0,0
943302,SD04103,SD0410300,harrisburg,south dakota,SD,1996,0.0,12,december,46.0,...,0,0,0,0,0,0,0,0,0,0
943303,SD04103,SD0410300,harrisburg,south dakota,SD,1995,0.0,12,december,46.0,...,0,0,0,0,0,0,0,0,0,0
943304,SD04103,SD0410300,harrisburg,south dakota,SD,1994,1.0,11,november,46.0,...,0,0,0,0,0,0,0,0,0,0
943305,SD04103,SD0410300,harrisburg,south dakota,SD,1993,0.0,12,december,46.0,...,1,1,0,0,3,0,0,0,3,3

In [116]:
crime_2014_2024 = better_crime_df[(better_crime_df["year"] >= 2014) & (better_crime_df["year"] <= 2024)]
crime_2014_2024.to_csv("data/better_crime_subset.csv", index=False)

In [117]:
crime_2014_2024["city_state"] = crime_2014_2024["address_city"].str.capitalize() + ", " + crime_2014_2024["address_state"].str.upper()
crime_2014_2024["year_city_state"] = crime_2014_2024["year"].astype(str) + ": " + crime_2014_2024["city_state"]
crime_2014_2024.dropna(subset=["city_state"], inplace=True)
final_zillow_df.dropna(subset=["city_state"], inplace=True)

C:\Users\jaiti\AppData\Local\Temp\ipykernel_26612\2863883454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_2014_2024["city_state"] = crime_2014_2024["address_city"].str.capitalize() + ", " + crime_2014_2024["address_state"].str.upper()
C:\Users\jaiti\AppData\Local\Temp\ipykernel_26612\2863883454.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_2014_2024["year_city_state"] = crime_2014_2024["year"].astype(str) + ": " + crime_2014_2024["city_state"]
C:\Users\jaiti\AppData\Local\Temp\ipykernel_26612\2863883454.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_2014_2024.dropna(subset=["city_state"], inplace=True)

In [134]:
test = crime_2014_2024[crime_2014_2024.city_state == "Harrisburg, PA"]
test[test.year == 2014]

,ori,ori9,agency_name,state,state_abb,year,number_of_months_missing,number_of_months_reported,last_month_reported,fips_state_code,...,unfounded_motor_vehicle_theft_truck,unfounded_motor_vehicle_theft_other,unfounded_all_crimes,unfounded_theft_under50_dollar,unfounded_assault_aggravated,unfounded_index_violent,unfounded_index_property,unfounded_index_total,city_state,year_city_state
821166,PA00010,PA0001000,ode: adams county,pennsylvania,PA,2014,12.0,0,no months reported,42.0,...,0,0,0,0,0,0,0,0,"Harrisburg, PA","2014: Harrisburg, PA"
821200,PA00019,PA0001900,ode: columbia county,pennsylvania,PA,2014,12.0,0,no months reported,42.0,...,0,0,0,0,0,0,0,0,"Harrisburg, PA","2014: Harrisburg, PA"
821234,PA00035,PA0003500,ode: lackawana county,pennsylvania,PA,2014,12.0,0,no months reported,42.0,...,0,0,0,0,0,0,0,0,"Harrisburg, PA","2014: Harrisburg, PA"
821268,PA00038,PA0003800,lebanon-bur narc invest,pennsylvania,PA,2014,12.0,0,no months reported,42.0,...,0,0,0,0,0,0,0,0,"Harrisburg, PA","2014: Harrisburg, PA"
821302,PA00065,PA0006500,westmoreland-bur narc in,pennsylvania,PA,2014,12.0,0,no months reported,42.0,...,0,0,0,0,0,0,0,0,"Harrisburg, PA","2014: Harrisburg, PA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908918,PA65BCI,PA65BCI00,sp bci: westmoreland cty,pennsylvania,PA,2014,0.0,12,december,42.0,...,0,0,0,0,0,0,0,0,"Harrisburg, PA","2014: Harrisburg, PA"
908939,PA66BCI,PA66BCI00,sp bci: wyoming county,pennsylvania,PA,2014,0.0,12,december,42.0,...,0,0,0,0,0,0,0,0,"Harrisburg, PA","2014: Harrisburg, PA"
908957,PA67BCI,PA67BCI00,sp bci: york county,pennsylvania,PA,2014,0.0,12,december,42.0,...,0,0,0,0,0,0,0,0,"Harrisburg, PA","2014: Harrisburg, PA"
909209,PAGEA07,PAGEA0700,sp gaming enforcement,pennsylvania,PA,2014,12.0,0,no months reported,42.0,...,0,0,0,0,0,0,0,0,"Harrisburg, PA","2014: Harrisburg, PA"
909415,PAPSP00,PAPSP0000,state police,pennsylvania,PA,2014,12.0,0,no months reported,42.0,...,0,0,0,0,0,0,0,0,"Harrisburg, PA","2014: Harrisburg, PA"

In [118]:
# find common city states from crime and zillow datasets
crime_city_states = crime_2014_2024["city_state"].unique()
zillow_city_states = final_zillow_df["city_state"].unique()
common_city_states = np.intersect1d(crime_city_states, zillow_city_states)
common_city_states

array(['Abbeville, GA', 'Abbeville, LA', 'Aberdeen, ID', ...,
       'Youngsville, PA', 'Yuma, CO', 'Zeigler, IL'], dtype=object)

In [148]:

# Crime data set filtered with common city states
crime_2014_2024_1= crime_2014_2024[["year", "year_city_state", "city_state", "actual_murder", "actual_rape_total", "actual_robbery_total", "actual_assault_total", "actual_theft_total"]].copy()
crime_2014_2024_2 = crime_2014_2024_1[crime_2014_2024_1["city_state"].isin(common_city_states)]

crime_2014_2024_clean = crime_2014_2024_2.groupby(["year", "year_city_state", "city_state"]).sum().reset_index()
crime_2014_2024_clean
print(f"Length of old is {len(crime_2014_2024_1)}, and length of new is {len(crime_2014_2024_clean)}")

Length of old is 235357, and length of new is 14333

In [152]:
zillow_2014_2024_clean = final_zillow_df[final_zillow_df["city_state"].isin(common_city_states)]
print(f"Length of old is {len(final_zillow_df)}, and length of new is {len(zillow_2014_2024_clean)}")
zillow_2014_2024_clean.city_state.value_counts()
zillow_2014_2024_clean[zillow_2014_2024_clean.city_state == "Boston, MA"]

Length of old is 1009978, and length of new is 25038

,indicator_id,region_id,date,value,city,state,city_state,indicator,category,year_city_state
135243,ZSFH,58695,2014-01-31,620999.0,Boston,MA,"Boston, MA",ZHVI Single-Family Homes Time Series ($),Home values,"2014: Boston, MA"
135244,ZSFH,58695,2014-02-28,627783.0,Boston,MA,"Boston, MA",ZHVI Single-Family Homes Time Series ($),Home values,"2014: Boston, MA"
135245,ZSFH,58695,2014-03-31,635864.0,Boston,MA,"Boston, MA",ZHVI Single-Family Homes Time Series ($),Home values,"2014: Boston, MA"
135246,ZSFH,58695,2014-04-30,640826.0,Boston,MA,"Boston, MA",ZHVI Single-Family Homes Time Series ($),Home values,"2014: Boston, MA"
135247,ZSFH,58695,2014-05-31,644981.0,Boston,MA,"Boston, MA",ZHVI Single-Family Homes Time Series ($),Home values,"2014: Boston, MA"
...,...,...,...,...,...,...,...,...,...,...
736309,ZSFH,58624,2014-08-31,682133.0,Boston,MA,"Boston, MA",ZHVI Single-Family Homes Time Series ($),Home values,"2014: Boston, MA"
736310,ZSFH,58624,2014-09-30,685461.0,Boston,MA,"Boston, MA",ZHVI Single-Family Homes Time Series ($),Home values,"2014: Boston, MA"
736311,ZSFH,58624,2014-10-31,693563.0,Boston,MA,"Boston, MA",ZHVI Single-Family Homes Time Series ($),Home values,"2014: Boston, MA"
736312,ZSFH,58624,2014-11-30,698409.0,Boston,MA,"Boston, MA",ZHVI Single-Family Homes Time Series ($),Home values,"2014: Boston, MA"
736313,ZSFH,58624,2014-12-31,706646.0,Boston,MA,"Boston, MA",ZHVI Single-Family Homes Time Series ($),Home values,"2014: Boston, MA"

In [ ]:
crime_2014_2024_1= crime_2014_2024[["year_city_state", "", "actual_murder", "actual_rape_total", "actual_robbery_total", "actual_assault_total", "actual_theft_total"]].copy()
crime_2014_2024_2 = crime_2014_2024_1[crime_2014_2024_1["city_state"].isin(common_city_states)]

print(f"Length of old is {len(crime_2014_2024_1)}, and length of new is {len(crime_2014_2024_2)}")
crime_2014_2024_1.city_state.value_counts()
crime_2014_2024_2[(crime_2014_2024_2["city_state"] == "Harrisburg, PA") & (crime_2014_2024_2.actual_murder > 0) & (crime_2014_2024_2.year == 2024)]

In [120]:
zillow_2014_2024_clean = final_zillow_df[final_zillow_df["city_state"].isin(common_city_states)]
print(f"Length of old is {len(final_zillow_df)}, and length of new is {len(zillow_2014_2024_clean)}")
zillow_2014_2024_clean.city_state.value_counts()

Length of old is 1009978, and length of new is 25038

city_state
Boston, MA        84
Pineville, KY     72
Cumberland, KY    60
Covington, VA     60
Whitesburg, KY    50
                  ..
Liberal, KS        2
Maroa, IL          1
Anderson, CA       1
Troy, KS           1
Woodland, CA       1
Name: count, Length: 1303, dtype: int64

In [121]:
final_df = pd.merge(final_zilow_df, crime_2014_2024_clean, on="year_city_state", how="inner")