In [1]:
import pandas as pd

In [2]:
#data_df = pd.read_csv("data.csv")
indicator_df = pd.read_csv("indicators.csv")
region_df = pd.read_csv("regions.csv")
crime_df = pd.read_csv("crime.csv")
data_2014 = pd.read_csv("data_2014.csv")

C:\Users\zacha\AppData\Local\Temp\ipykernel_26292\1532214175.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_df = pd.read_csv("crime.csv")

In [ ]:
# data_df_sample = data_df.sample(n=500000).reset_index()
# data_df_sample.to_csv("data_sample.csv", index=False)

#data_df['date'] = pd.to_datetime(data_df['date'])

In [ ]:
#data_2014 = data_df[data_df["date"].dt.year == 2014]
#data_2014.to_csv("data_2014.csv", index=False)

In [3]:
data_2014
region_df

,region_id,region_type,region
0,96208,zip,"90706;CA;Los Angeles-Long Beach-Anaheim, CA;Be..."
1,394415,metro,"Bridgeport, CT"
2,394653,metro,"Greenville, SC"
3,394312,metro,"Albuquerque, NM"
4,394357,metro,"Bakersfield, CA"
...,...,...,...
89300,59107,zip,"3293;NH;Lebanon, NH-VT;Woodstock;Grafton County"
89301,94027,zip,"83025;WY;Jackson, WY-ID;Wilson;Teton County"
89302,58463,zip,"1718;MA;Boston-Cambridge-Newton, MA-NH;Acton;M..."
89303,75653,zip,40363;KY;nan;nan;Owen County
89304,83566,zip,58249;ND;nan;Langdon;Cavalier County

In [4]:
merged_df = pd.merge(data_2014, region_df, on="region_id", how="left")

In [5]:
merged_df.groupby("region_id").agg("count")

           indicator_id  date  value  region_type  region
region_id
3                   120   120    120          120     120
4                   120   120    120          120     120
6                   120   120    120          120     120
8                   120   120    120          120     120
9                   120   120    120          120     120
...                 ...   ...    ...          ...     ...
827645               12    12     12           12      12
845158              384   384    384          384     384
845160              384   384    384          384     384
845164               72    72     72           72      72
845167               72    72     72           72      72

[81248 rows x 5 columns]

In [6]:
check_merge = region_df[region_df["region_id"].isin(data_2014["region_id"])]

In [52]:
check_merge["region_type"].unique()

array(['zip', 'metro', 'state', 'neigh', 'city', 'county'], dtype=object)

In [7]:
check_merge

,region_id,region_type,region
0,96208,zip,"90706;CA;Los Angeles-Long Beach-Anaheim, CA;Be..."
1,394415,metro,"Bridgeport, CT"
2,394653,metro,"Greenville, SC"
3,394312,metro,"Albuquerque, NM"
4,394357,metro,"Bakersfield, CA"
...,...,...,...
89299,92436,zip,"78402;TX;Corpus Christi, TX;Corpus Christi;Nue..."
89300,59107,zip,"3293;NH;Lebanon, NH-VT;Woodstock;Grafton County"
89301,94027,zip,"83025;WY;Jackson, WY-ID;Wilson;Teton County"
89302,58463,zip,"1718;MA;Boston-Cambridge-Newton, MA-NH;Acton;M..."
89303,75653,zip,40363;KY;nan;nan;Owen County

In [21]:
check_merge_zip = check_merge[check_merge["region_type"] == "zip"].copy()
check_merge_metro = check_merge[check_merge["region_type"] == "metro"].copy()
check_merge_state = check_merge[check_merge["region_type"] == "state"].copy()
check_merge_neigh = check_merge[check_merge["region_type"] == "neigh"].copy()
check_merge_city = check_merge[check_merge["region_type"] == "city"].copy()
check_merge_county = check_merge[check_merge["region_type"] == "county"].copy()

## Splice regions to only get the city and state from them

In [22]:
check_merge_zip.loc[:, "city"] = check_merge_zip["region"].str.split(";").str[3]
check_merge_zip.loc[:, "state"] = check_merge_zip["region"].str.split(";").str[1]

In [23]:
check_merge_metro.loc[:, "city"] = check_merge_zip["region"].str.split(",").str[0]
check_merge_metro.loc[:, "state"] = check_merge_zip["region"].str.split(",").str[1]

In [33]:
check_merge_neigh.loc[:, "city"] = check_merge_neigh["region"].str.split(";").str[4]
check_merge_neigh.loc[:, "state"] = check_merge_neigh["region"].str.split(";").str[1]

In [34]:
check_merge_neigh

,region_id,region_type,region,city,state
155,274772,neigh,Northeast Dallas; TX; Dallas-Fort Worth-Arling...,Dallas,TX
164,273698,neigh,"Far North; TX; Dallas-Fort Worth-Arlington, TX...",Dallas,TX
183,275473,neigh,Southeast Dallas; TX; Dallas-Fort Worth-Arling...,Dallas,TX
306,196538,neigh,Murray Hill; NY; New York-Newark-Jersey City; ...,New York,NY
958,118208,neigh,South Los Angeles;CA;Los Angeles-Long Beach-An...,Los Angeles County,CA
...,...,...,...,...,...
88516,807945,neigh,"Dellwood Park;TX;Laredo, TX;Laredo;Webb County",Webb County,TX
88517,806920,neigh,Lake Mathews;CA;Riverside-San Bernardino-Ontar...,Riverside County,CA
88518,250248,neigh,"Central Park;OK;Tulsa, OK;Tulsa;Tulsa County",Tulsa County,OK
88519,416777,neigh,Archwood Acres;TN;Nashville-Davidson--Murfrees...,Davidson County,TN
88520,809280,neigh,"Laguna Park;NV;Las Vegas-Henderson-Paradise, N...",Clark County,NV

In [41]:
check_merge_city.loc[:, "city"] = check_merge_city["region"].str.split(";").str[0]
check_merge_city.loc[:, "state"] = check_merge_city["region"].str.split(";").str[1]

In [44]:
check_merge_county.loc[:, "city"] = check_merge_county["region"].str.split(";").str[0]
check_merge_county.loc[:, "state"] = check_merge_county["region"].str.split(";").str[1]

In [45]:
check_merge_county

,region_id,region_type,region,city,state
880,2841,county,San Diego County;CA;San Diego-Chula Vista-Carl...,San Diego County,CA
915,1286,county,Orange County;CA;Los Angeles-Long Beach-Anahei...,Orange County,CA
916,445,county,"Clark County;NV;Las Vegas-Henderson-Paradise, NV",Clark County,NV
918,2049,county,"Tarrant County;TX;Dallas-Fort Worth-Arlington, TX",Tarrant County,TX
932,386,county,"Bexar County;TX;San Antonio-New Braunfels, TX",Bexar County,TX
...,...,...,...,...,...
82375,2400,county,Manistee County;MI;nan,Manistee County,MI
82494,2353,county,"Humboldt County;NV;Winnemucca, NV",Humboldt County,NV
82799,1077,county,Hardin County;IA;nan,Hardin County,IA
82951,263,county,Otoe County;NE;nan,Otoe County,NE
83099,131,county,Clay County;TN;nan,Clay County,TN

In [49]:
check_merge_combine = pd.concat([check_merge_zip, check_merge_metro, check_merge_neigh, check_merge_city, check_merge_county], ignore_index=True)
check_merge_combine

,region_id,region_type,region,city,state
0,96208,zip,"90706;CA;Los Angeles-Long Beach-Anaheim, CA;Be...",Bellflower,CA
1,95315,zip,"87121;NM;Albuquerque, NM;Albuquerque;Bernalill...",Albuquerque,NM
2,91325,zip,"76244;TX;Dallas-Fort Worth-Arlington, TX;Fort ...",Fort Worth,TX
3,91732,zip,"77083;TX;Houston-The Woodlands-Sugar Land, TX;...",Houston,TX
4,61616,zip,"10002;NY;New York-Newark-Jersey City, NY-NJ-PA...",New York,NY
...,...,...,...,...,...
81192,2400,county,Manistee County;MI;nan,Manistee County,MI
81193,2353,county,"Humboldt County;NV;Winnemucca, NV",Humboldt County,NV
81194,1077,county,Hardin County;IA;nan,Hardin County,IA
81195,263,county,Otoe County;NE;nan,Otoe County,NE
81196,131,county,Clay County;TN;nan,Clay County,TN