In [1]:
import pandas as pd

In [2]:
data_df = pd.read_csv("data.csv")
indicator_df = pd.read_csv("indicators.csv")
region_df = pd.read_csv("regions.csv")
crime_df = pd.read_csv("crime.csv")

C:\Users\zacha\AppData\Local\Temp\ipykernel_25876\3611366566.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_df = pd.read_csv("crime.csv")

In [3]:
# data_df_sample = data_df.sample(n=500000).reset_index()
# data_df_sample.to_csv("data_sample.csv", index=False)
data_df['date'] = pd.to_datetime(data_df['date'])

In [4]:
data_2014 = data_df[data_df["date"].dt.year == 2014]

In [5]:
data_2014.to_csv("data_2014.csv", index=False)

In [ ]:
data_2014
region_df

,region_id,region_type,region
0,96208,zip,"90706;CA;Los Angeles-Long Beach-Anaheim, CA;Be..."
1,394415,metro,"Bridgeport, CT"
2,394653,metro,"Greenville, SC"
3,394312,metro,"Albuquerque, NM"
4,394357,metro,"Bakersfield, CA"
...,...,...,...
89300,59107,zip,"3293;NH;Lebanon, NH-VT;Woodstock;Grafton County"
89301,94027,zip,"83025;WY;Jackson, WY-ID;Wilson;Teton County"
89302,58463,zip,"1718;MA;Boston-Cambridge-Newton, MA-NH;Acton;M..."
89303,75653,zip,40363;KY;nan;nan;Owen County
89304,83566,zip,58249;ND;nan;Langdon;Cavalier County

In [20]:
merged_df = pd.merge(data_2014, region_df, on="region_id", how="left")

In [42]:
merged_df.groupby("region_id").agg("count")

           indicator_id  date  value  region_type  region
region_id
3                   120   120    120          120     120
4                   120   120    120          120     120
6                   120   120    120          120     120
8                   120   120    120          120     120
9                   120   120    120          120     120
...                 ...   ...    ...          ...     ...
827645               12    12     12           12      12
845158              384   384    384          384     384
845160              384   384    384          384     384
845164               72    72     72           72      72
845167               72    72     72           72      72

[81248 rows x 5 columns]

In [36]:
check_merge = region_df[region_df["region_id"].isin(data_2014["region_id"])]

In [52]:
check_merge["region_type"].unique()

array(['zip', 'metro', 'state', 'neigh', 'city', 'county'], dtype=object)